@keyframes beacon {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  }
  10% {
    transform: scale(0.95);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 2px 12px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes beacon {
  0% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  }
  10% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 2px 12px rgba(0, 0, 0, 0);
  }
}

.zest-hover > * {
  animation: beacon 0.3s linear;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  45% {
    transform: rotateZ(-3deg);
  }
  60% {
    transform: rotateZ(2deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
  90% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  45% {
    transform: rotateZ(-3deg);
  }
  60% {
    transform: rotateZ(2deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
  90% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes error {
  0% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes error {
  0% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
